version: 2

jobs:
  test:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/mmcloughlin/ec3
    steps:
      - checkout
      - run:
          name: Bootstrap
          command: make bootstrap
      - run:
          name: Build
          command: go build ./...
      - run:
          name: Test
          command: go test -coverprofile=coverage.out -covermode=count ./...
      - run:
          name: Upload Coverage
          command: bash <(curl -s https://codecov.io/bash) -F unittests -f coverage.out
          when: on_success
  generate:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/mmcloughlin/ec3
    steps:
      - checkout
      - run:
          name: Bootstrap
          command: make bootstrap
      - run:
          name: Generate
          command: go generate -x ./...
      - run:
          name: Git Status
          command: test -z "$(git status --porcelain)"

workflows:
  version: 2
  ci:
    jobs:
      - test
      - generate
