version: 2

aliases:
  runner: &runner
    working_directory: /go/src/github.com/mmcloughlin/ec3
  checkdirty: &checkdirty
    name: Git Status
    command: |
      git diff
      test -z "$(git status --porcelain)"

jobs:
  test:
    <<: *runner
    steps:
      - checkout
      - run:
          name: Bootstrap
          command: make bootstrap
      - run:
          name: Build
          command: go build ./...
      - run:
          name: Test
          command: go test -coverprofile=coverage.out -covermode=count ./...
      - run:
          name: Upload Coverage
          command: bash <(curl -s https://codecov.io/bash) -F unittests -f coverage.out
          when: on_success

  generate:
    <<: *runner
    steps:
      - checkout
      - run:
          name: Bootstrap
          command: make bootstrap
      - run:
          name: Generate
          command: make generate
      - run: *checkdirty
      - run:
          name: Format
          command: make fmt
      - run: *checkdirty

workflows:
  version: 2
  ci:
    jobs:
      - test:
      - generate:
